

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    
    
}

h2 {
    margin-bottom: 20px;
    text-align: center; 
    color: rgb(0, 195, 255);
    text-decoration: underline;
    
}

form {
    margin-bottom: 20px;
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; 
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #007bff; 
    color: white;
}

td {
    background-color: #f9f9f9; 
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: rgb(0, 217, 255);
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%; 
}


a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
}

a.edit {
    background-color: #28a745; 
}

a.delete {
    background-color: #dc3545;
}

.container {
    text-align: center; 
}
p{
    text-align: center;
}
